@layer components {
  .badge {
    @apply inline-flex items-center justify-center;
    @apply leading-none font-medium whitespace-nowrap select-none;

    --badge-bg: var(--color-primary);
    --badge-border: var(--color-primary-border);
    --badge-fg: var(--color-primary-foreground);

    @apply bg-(--badge-bg) text-(--badge-fg);
    @apply border border-(--badge-border);
    @apply gap-[calc(0.875rem/2.058)] px-[calc(0.875rem)] py-[calc(0.875rem/2.058)] text-sm;
    @apply rounded-full;
  }

  .badge-primary {
    --badge-bg: var(--color-primary);
    --badge-border: var(--color-primary-border);
    --badge-fg: var(--color-primary-foreground);
  }

  .badge-secondary {
    --badge-bg: var(--color-secondary);
    --badge-border: var(--color-secondary-border);
    --badge-fg: var(--color-secondary-foreground);
  }

  .badge-accent {
    --badge-bg: var(--color-accent);
    --badge-border: var(--color-accent-border);
    --badge-fg: var(--color-accent-foreground);
  }

  .badge-outline {
    --badge-bg: transparent;
    --badge-border: var(--color-primary-outline-border);
    --badge-fg: var(--color-primary);
  }

  .badge-success {
    --badge-bg: var(--color-success);
    --badge-border: var(--color-success-border);
    --badge-fg: var(--color-success-foreground);
  }

  .badge-warning {
    --badge-bg: var(--color-warning);
    --badge-border: var(--color-warning-border);
    --badge-fg: var(--color-warning-foreground);
  }

  .badge-danger {
    --badge-bg: var(--color-danger);
    --badge-border: var(--color-danger-border);
    --badge-fg: var(--color-danger-foreground);
  }

  .badge-info {
    --badge-bg: var(--color-info);
    --badge-border: var(--color-info-border);
    --badge-fg: var(--color-info-foreground);
  }

  .badge-primary-soft {
    --badge-bg: var(--color-primary-soft);
    --badge-border: var(--color-primary-soft-border);
    --badge-fg: var(--color-primary-soft-foreground);
  }

  .badge-secondary-soft {
    --badge-bg: var(--color-secondary-soft);
    --badge-border: var(--color-secondary-soft-border);
    --badge-fg: var(--color-secondary-soft-foreground);
  }

  .badge-accent-soft {
    --badge-bg: var(--color-accent-soft);
    --badge-border: var(--color-accent-soft-border);
    --badge-fg: var(--color-accent-soft-foreground);
  }

  .badge-success-soft {
    --badge-bg: var(--color-success-soft);
    --badge-border: var(--color-success-soft-border);
    --badge-fg: var(--color-success-soft-foreground);
  }

  .badge-warning-soft {
    --badge-bg: var(--color-warning-soft);
    --badge-border: var(--color-warning-soft-border);
    --badge-fg: var(--color-warning-soft-foreground);
  }

  .badge-danger-soft {
    --badge-bg: var(--color-danger-soft);
    --badge-border: var(--color-danger-soft-border);
    --badge-fg: var(--color-danger-soft-foreground);
  }

  .badge-info-soft {
    --badge-bg: var(--color-info-soft);
    --badge-border: var(--color-info-soft-border);
    --badge-fg: var(--color-info-soft-foreground);
  }

  .badge-primary-flat {
    --badge-bg: var(--color-primary-flat);
    --badge-border: var(--color-primary-flat-border);
    --badge-fg: var(--color-primary-flat-foreground);
  }

  .badge-secondary-flat {
    --badge-bg: var(--color-secondary-flat);
    --badge-border: var(--color-secondary-flat-border);
    --badge-fg: var(--color-secondary-flat-foreground);
  }

  .badge-accent-flat {
    --badge-bg: var(--color-accent-flat);
    --badge-border: var(--color-accent-flat-border);
    --badge-fg: var(--color-accent-flat-foreground);
  }

  .badge-success-flat {
    --badge-bg: var(--color-success-flat);
    --badge-border: var(--color-success-flat-border);
    --badge-fg: var(--color-success-flat-foreground);
  }

  .badge-warning-flat {
    --badge-bg: var(--color-warning-flat);
    --badge-border: var(--color-warning-flat-border);
    --badge-fg: var(--color-warning-flat-foreground);
  }

  .badge-danger-flat {
    --badge-bg: var(--color-danger-flat);
    --badge-border: var(--color-danger-flat-border);
    --badge-fg: var(--color-danger-flat-foreground);
  }

  .badge-info-flat {
    --badge-bg: var(--color-info-flat);
    --badge-border: var(--color-info-flat-border);
    --badge-fg: var(--color-info-flat-foreground);
  }

  .badge-primary-outline {
    --badge-bg: var(--color-primary-outline);
    --badge-border: var(--color-primary-outline-border);
    --badge-fg: var(--color-primary-outline-foreground);
  }

  .badge-secondary-outline {
    --badge-bg: var(--color-secondary-outline);
    --badge-border: var(--color-secondary-outline-border);
    --badge-fg: var(--color-secondary-outline-foreground);
  }

  .badge-accent-outline {
    --badge-bg: var(--color-accent-outline);
    --badge-border: var(--color-accent-outline-border);
    --badge-fg: var(--color-accent-outline-foreground);
  }

  .badge-success-outline {
    --badge-bg: var(--color-success-outline);
    --badge-border: var(--color-success-outline-border);
    --badge-fg: var(--color-success-outline-foreground);
  }

  .badge-warning-outline {
    --badge-bg: var(--color-warning-outline);
    --badge-border: var(--color-warning-outline-border);
    --badge-fg: var(--color-warning-outline-foreground);
  }

  .badge-danger-outline {
    --badge-bg: var(--color-danger-outline);
    --badge-border: var(--color-danger-outline-border);
    --badge-fg: var(--color-danger-outline-foreground);
  }

  .badge-info-outline {
    --badge-bg: var(--color-info-outline);
    --badge-border: var(--color-info-outline-border);
    --badge-fg: var(--color-info-outline-foreground);
  }

  .badge-radius-none {
    @apply rounded-none;
  }

  .badge-radius-sm {
    @apply rounded-[calc(1em*1.272/4)];
  }

  .badge-radius-md {
    @apply rounded-[calc(1em*1.272*2/4)];
  }

  .badge-radius-lg {
    @apply rounded-[calc(1em*1.272*3/4)];
  }

  .badge-radius-full {
    @apply rounded-full;
  }

  .badge [slot="icon"],
  .badge [slot="icon-start"],
  .badge [slot="icon-end"] {
    @apply size-match-font;
  }

  .badge:has([slot="icon-start"]) {
    @apply pl-[calc(0.875rem/2.058)];
  }

  .badge:has([slot="icon-end"]) {
    @apply pr-[calc(0.875rem/2.058)];
  }

  .badge-size-sm {
    @apply gap-[calc(0.75rem/2.058)] px-[calc(0.75rem)] py-[calc(0.75rem/2.058)] text-xs;
  }

  .badge-size-sm:has([slot="icon-start"]) {
    @apply pl-[calc(0.75rem/2.058)];
  }

  .badge-size-sm:has([slot="icon-end"]) {
    @apply pr-[calc(0.75rem/2.058)];
  }

  .badge-size-md {
    @apply gap-[calc(0.875rem/2.058)] px-[calc(0.875rem)] py-[calc(0.875rem/2.058)] text-sm;
  }

  .badge-size-md:has([slot="icon-start"]) {
    @apply pl-[calc(0.875rem/2.058)];
  }

  .badge-size-md:has([slot="icon-end"]) {
    @apply pr-[calc(0.875rem/2.058)];
  }

  .badge-size-lg {
    @apply gap-[calc(1rem/2.058)] px-[calc(1rem)] py-[calc(1rem/2.058)] text-base;
  }

  .badge-size-lg:has([slot="icon-start"]) {
    @apply pl-[calc(1rem/2.058)];
  }

  .badge-size-lg:has([slot="icon-end"]) {
    @apply pr-[calc(1rem/2.058)];
  }

  .badge-icon-only {
    @apply aspect-square w-[calc(0.875rem+2*(0.875rem/2.058)+0.125rem)] justify-center gap-0 p-0;
  }

  .badge-icon-only.badge-size-sm {
    @apply w-[calc(0.75rem+2*(0.75rem/2.058)+0.125rem)];
  }

  .badge-icon-only.badge-size-lg {
    @apply w-[calc(1rem+2*(1rem/2.058)+0.125rem)];
  }
}
