@layer components {
  .surface {
    --surface-bg: var(--color-surface);
    --surface-border: transparent;
    --surface-fg: var(--color-surface-foreground);

    @apply bg-(--surface-bg) text-(--surface-fg);
    @apply border border-(--surface-border);
    @apply rounded-[calc(1em*1.272*2/4)];
  }

  .surface-default {
    --surface-bg: var(--color-surface);
    --surface-fg: var(--color-surface-foreground);
  }

  .surface-subtle {
    --surface-bg: var(--color-surface-subtle);
    --surface-fg: var(--color-surface-foreground);
  }

  .surface-plain {
    --surface-bg: var(--color-surface-plain);
    --surface-fg: var(--color-surface-foreground);
  }

  .surface-overlay {
    --surface-bg: var(--color-on-overlay);
    --surface-fg: var(--color-on-overlay-foreground);
  }

  .surface-bordered.surface-default,
  .surface-bordered:not(.surface-subtle):not(.surface-plain):not(.surface-overlay) {
    --surface-border: var(--color-surface-border);
  }

  .surface-bordered.surface-subtle {
    --surface-border: var(--color-surface-subtle-border);
  }

  .surface-bordered.surface-plain {
    --surface-border: var(--color-surface-plain-border);
  }

  .surface-bordered.surface-overlay {
    --surface-border: var(--color-on-overlay-border);
  }

  .surface-shadow-none {
    @apply shadow-none;
  }

  .surface-shadow-sm {
    @apply shadow-sm;
  }

  .surface-shadow-md {
    @apply shadow-md;
  }

  .surface-shadow-lg {
    @apply shadow-lg;
  }

  .surface-shadow-xl {
    @apply shadow-xl;
  }

  .surface-radius-none {
    @apply rounded-none;
  }

  .surface-radius-sm {
    @apply rounded-[calc(1em*1.272/4)];
  }

  .surface-radius-md {
    @apply rounded-[calc(1em*1.272*2/4)];
  }

  .surface-radius-lg {
    @apply rounded-[calc(1em*1.272*3/4)];
  }

  .surface-radius-xl {
    @apply rounded-[calc(1em*1.272)];
  }
}
