@theme {
  --color-fri-red-50: oklch(0.951 0.015 17.54);
  --color-fri-red-100: oklch(0.914 0.027 17.71);
  --color-fri-red-200: oklch(0.827 0.058 18.42);
  --color-fri-red-300: oklch(0.734 0.094 19.57);
  --color-fri-red-400: oklch(0.656 0.129 21.19);
  --color-fri-red-500: oklch(0.582 0.162 23.61);
  --color-fri-red-600: oklch(0.497 0.155 24.81);
  --color-fri-red-700: oklch(0.405 0.122 24.36);
  --color-fri-red-800: oklch(0.314 0.089 23.79);
  --color-fri-red-900: oklch(0.209 0.05 22.41);
  --color-fri-red-950: oklch(0.146 0.027 20.87);

  --color-fri-yellow-50: oklch(0.98 0.026 90.07);
  --color-fri-yellow-100: oklch(0.965 0.046 90.85);
  --color-fri-yellow-200: oklch(0.93 0.089 89.91);
  --color-fri-yellow-300: oklch(0.9 0.127 89.61);
  --color-fri-yellow-400: oklch(0.867 0.157 87.52);
  --color-fri-yellow-500: oklch(0.843 0.17 84.03);
  --color-fri-yellow-600: oklch(0.742 0.153 81.99);
  --color-fri-yellow-700: oklch(0.611 0.126 82.81);
  --color-fri-yellow-800: oklch(0.458 0.094 84.05);
  --color-fri-yellow-900: oklch(0.29 0.059 87.21);
  --color-fri-yellow-950: oklch(0.19 0.039 92.2);

  --color-fri-blue-50: oklch(91.42% 0.035 264);
  --color-fri-blue-100: oklch(85.52% 0.063 263);
  --color-fri-blue-200: oklch(79.56% 0.096 264);
  --color-fri-blue-300: oklch(73.52% 0.133 264);
  --color-fri-blue-400: oklch(67.67% 0.168 264);
  --color-fri-blue-500: oklch(61.61% 0.207 264);
  --color-fri-blue-600: oklch(52.92% 0.251 264);
  --color-fri-blue-700: oklch(44.05% 0.241 264);
  --color-fri-blue-800: oklch(34.82% 0.165 264);
  --color-fri-blue-900: oklch(25.53% 0.102 264);
  --color-fri-blue-950: oklch(13.78% 0.048 264);

  --color-fri-green-50: oklch(0.96 0.043 144.14);
  --color-fri-green-100: oklch(0.923 0.086 143.35);
  --color-fri-green-200: oklch(0.855 0.167 143.14);
  --color-fri-green-300: oklch(0.805 0.227 142.55);
  --color-fri-green-400: oklch(0.72 0.232 142.35);
  --color-fri-green-500: oklch(0.55 0.175 142.35);
  --color-fri-green-600: oklch(0.47 0.147 142.36);
  --color-fri-green-700: oklch(0.387 0.119 142.38);
  --color-fri-green-800: oklch(0.289 0.085 142.39);
  --color-fri-green-900: oklch(0.193 0.052 142.21);
  --color-fri-green-950: oklch(0.143 0.035 140.69);

  --color-fri-neutral-50: #f9f9f9;
  --color-fri-neutral-100: #ededed;
  --color-fri-neutral-200: #d1d1d1;
  --color-fri-neutral-300: #b8b8b8;
  --color-fri-neutral-400: #9e9e9e;
  --color-fri-neutral-500: #828282;
  --color-fri-neutral-600: #696969;
  --color-fri-neutral-700: #4f4f4f;
  --color-fri-neutral-800: #363636;
  --color-fri-neutral-900: #1a1a1a;
  --color-fri-neutral-950: #0d0d0d;

  --color-fri-lime-50: oklch(0.986 0.013 126.23);
  --color-fri-lime-100: oklch(0.966 0.03 125.12);
  --color-fri-lime-200: oklch(0.936 0.062 125.3);
  --color-fri-lime-300: oklch(0.908 0.088 126.04);
  --color-fri-lime-400: oklch(0.88 0.119 126.54);
  --color-fri-lime-500: oklch(0.849 0.146 127.35);
  --color-fri-lime-600: oklch(0.797 0.187 129.24);
  --color-fri-lime-700: oklch(0.664 0.163 129.75);
  --color-fri-lime-800: oklch(0.488 0.116 129.55);
  --color-fri-lime-900: oklch(0.308 0.068 128.73);
  --color-fri-lime-950: oklch(0.215 0.041 127.8);
}
