"use client";

import type { ComponentPropsWithRef, ReactNode } from "react";

import { {{RacName}} as RAC{{Name}}, type {{Name}}RenderProps, composeRenderProps } from "react-aria-components";

import { clsx } from "clsx";

import { Spinner } from "../icons";
import { bem } from "../../utils/bem";

import type { {{Name}}VariantsProps } from "./{{name}}.variants";

export type {{Name}}Props = {{Name}}VariantsProps & {
  children?: ReactNode | ((renderProps: {{Name}}RenderProps) => ReactNode);
  className?: string | ((renderProps: {{Name}}RenderProps) => string);
} & Omit<ComponentPropsWithRef<typeof RAC{{Name}}>, "className" | "children">;

const {{Name}} = (props: Readonly<{{Name}}Props>) => {
  const { children, className, ref, size, variant, ...rest } = props;

  const baseClassName = bem({
    block: "fri-{{name}}",
    modifiers: {
      variant,
      size,
      disabled: rest.isDisabled,
    },
  });

  const {{name}}ClassName = composeRenderProps(className, (consumerClassName) => clsx(baseClassName, consumerClassName));

  return (
    <RAC{{Name}} {...rest} data-slot="{{name}}" className={ {{name}}ClassName} ref={ref}>
      {children}
    </RAC{{Name}}>
  );
};

{{Name}}.displayName = "{{Name}}";

export { {{Name}} };
