@import "tailwindcss" source("../../");
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/style.css";
@import "@fried-ui/styles";

:root,
:host {
  --color-fd-background: var(--color-background);
  --color-fd-foreground: var(--color-foreground);
  --color-fd-muted: var(--color-muted);
  --color-fd-muted-foreground: var(--color-muted-foreground);
  --color-fd-card: var(--color-surface);
  --color-fd-card-foreground: var(--color-surface-foreground);
  --color-fd-popover: var(--color-popover);
  --color-fd-popover-foreground: var(--color-popover-foreground);
  --color-fd-border: var(--color-border);
  --color-fd-primary: var(--color-black);
  --color-fd-primary-foreground: var(--color-white);
  --color-fd-secondary: var(--color-secondary);
  --color-fd-secondary-foreground: var(--color-secondary-foreground);
  --color-fd-accent: var(--color-muted);
  --color-fd-accent-foreground: var(--color-foreground);
  --color-fd-ring: var(--color-ring);
}

.dark {
  --color-fd-background: var(--color-background);
  --color-fd-foreground: var(--color-foreground);
  --color-fd-muted: var(--color-muted);
  --color-fd-muted-foreground: var(--color-muted-foreground);
  --color-fd-card: var(--color-surface);
  --color-fd-card-foreground: var(--color-surface-foreground);
  --color-fd-popover: var(--color-popover);
  --color-fd-popover-foreground: var(--color-popover-foreground);
  --color-fd-border: var(--color-border);
  --color-fd-primary: var(--color-white);
  --color-fd-primary-foreground: var(--color-black);
  --color-fd-secondary: var(--color-secondary);
  --color-fd-secondary-foreground: var(--color-secondary-foreground);
  --color-fd-accent: var(--color-muted);
  --color-fd-accent-foreground: var(--color-foreground);
  --color-fd-ring: var(--color-ring);
}
