.fri-{{name}} {
  @apply inline-flex items-center justify-center;
  @apply leading-none font-medium whitespace-nowrap;
  @apply border border-transparent select-none;

  /* default variant = primary */
  --fri-{{name}}-bg: var(--color-primary);
  --fri-{{name}}-fg: var(--color-primary-foreground);

  @apply bg-(--fri-{{name}}-bg) text-(--fri-{{name}}-fg);

  /* default size = md */
  @apply gap-2.5 px-4 py-2 text-base;
}

.fri-{{name}} [slot="icon"] {
  @apply size-match-font;
}

.fri-{{name}}--primary {
  --fri-{{name}}-bg: var(--color-primary);
  --fri-{{name}}-fg: var(--color-primary-foreground);
}

.fri-{{name}}--secondary {
  --fri-{{name}}-bg: var(--color-secondary);
  --fri-{{name}}-fg: var(--color-secondary-foreground);
}

.fri-{{name}}--ghost {
  --fri-{{name}}-bg: transparent;
  --fri-{{name}}-fg: var(--color-foreground);
}

.fri-{{name}}--outline {
  --fri-{{name}}-bg: transparent;
  --fri-{{name}}-fg: var(--color-foreground);

  @apply border-border;
}

.fri-{{name}}--success {
  --fri-{{name}}-bg: var(--color-success);
  --fri-{{name}}-fg: var(--color-success-foreground);
}

.fri-{{name}}--warning {
  --fri-{{name}}-bg: var(--color-warning);
  --fri-{{name}}-fg: var(--color-warning-foreground);
}

.fri-{{name}}--danger {
  --fri-{{name}}-bg: var(--color-danger);
  --fri-{{name}}-fg: var(--color-danger-foreground);
}

.fri-{{name}}--info {
  --fri-{{name}}-bg: var(--color-info);
  --fri-{{name}}-fg: var(--color-info-foreground);
}

.fri-{{name}}--size-sm {
  @apply gap-2 px-3.5 py-1.5 text-sm;
}

.fri-{{name}}--size-md {
  @apply gap-2.5 px-4 py-2 text-base;
}

.fri-{{name}}--size-lg {
  @apply gap-3 px-5 py-2.5 text-xl;
}
